<h1>新的post</h1>
<%= form_with model: @post do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <br>
    <%= form.label :content %>
    <%= form.text_area :content %>
    <br>
    <%= form.label :price %>
    <%= form.number_field :price %>
    <br>
    <%= form.submit %>
<% end %>